/*  Config =======
============================================== */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
    background: darkolivegreen;
}

/*  Container  =======
============================================== */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 1100px;
    padding: 30px;
}

/*  Cards =======
============================================== */

.card {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 300px;
    height: 215px;

    margin: 30px 10px;
    padding: 20px 15px;

    background: white;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.card:hover {
    height: 420px;
}

.card__img-box {
    position: relative;
    top: -60px;
    left: 20px;
    z-index: 1;

    width: 260px;
    height: 260px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}

.card__img {
    max-width: 100%;
    border-radius: 4px;
}

.card__content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .card__content {
    margin-top: -40px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}
